.navbar {
  display: flex;
  background-color: #2F3645;
  overflow: hidden;
  justify-content: space-between;
  border-radius: 0 0 1rem 1rem;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  flex-grow: 1;
  transition: background-color 0.4s ease;
}

.navbar a:hover {
  background-color: #E6B9A6;
  color: black;
}


.rightNavbar .btn {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #FFD369;
  color: black;
  cursor: pointer;
  justify-content: right;
}