@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


:root[data-theme='light'] {
  --bg-color: #ffffff;
  --text-color: #333333;
  --sidebar-bg: #f8f9fa;
  --input-bg: #f5f5f5;
}

:root[data-theme='dark'] {
  --bg-color: #1a202c;
  --text-color: #ffffff;
  --sidebar-bg: #2d3748;
  --input-bg: #4a5568;
  --textarea-bg: #8f8f8f;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.sidebar {
  background-color: var(--sidebar-bg);
}

input, textarea {
  background-color: var(--textarea-bg);
  color: var(--text-color);
}
