@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

[data-theme='light'] {
  --bg-color: #ffffff; /* สีพื้นหลัง */
  --text-color: #000000; /* สีข้อความ */
}

/* สำหรับธีม Dark */
[data-theme='dark'] {
  --bg-color: #000000; /* สีพื้นหลัง */
  --text-color: #ffffff; /* สีข้อความ */
}
